.our_benefits_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.benefits_title {
  flex-basis: 100%;
  margin-top: 2em;
  margin-bottom: 50px;
  color: black;
  text-align: center;
  font-size: 3.8em;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.benefits {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.benefit_block {
  display: flex;
  margin-bottom: 80px;
  min-height: 160px;
  width: 33%;
  max-width: 80%;
  padding-left: 5px;
  padding-right: 5px;

  border: solid 2px #ebebeb;
  border-bottom: none;
  border-right: none;
}

.benefit_img {
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 30px;
  width: 100px;
}

.benefit_text h4 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 1em;
}

.benefit_text {
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.7em;
}

@media screen and (max-width: 1300px) {

.benefit_block {
  font-size: .9em;
  text-align: center;
  flex-direction: column;
}

.benefit_img {
  margin-left: auto;
  margin-right: auto;
}

}

@media screen and (max-width: 767px) {

.our_benefits_wrapper {
  width: 95%;
  margin: 0 auto;
}

.benefit_img {
  /*margin-right: 30px;*/
}

.benefits {
  flex-wrap: wrap;
}

.benefits_title {
  font-size: 2.2em;
  margin-top: 2em;
  margin-bottom: 40px;
  letter-spacing: .05em;
}

.benefit_block {
  max-width: 100%;
  flex-basis: 100%;
  border-left: solid 10px;
  border-top: solid 10px;
  font-size: 90%;
  margin-bottom: 50px;
  margin-top: 0;
}

}
