.reviews_wrapper {
  width: 80%;
  margin: 0 auto;
}

.reviews_title {
  padding-top: 1.6em;
  text-align: center;
  font-size: 3.8em;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.reviews_block {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 50px auto;
}

.review {
  flex-basis: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
  border-radius: 5px;
  padding: 10px;
}

.review_photo {
  width: 30%;
  border-radius: 50%;
}

.review_text {
  width: 65%;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.7em;
}

@media screen and (max-width: 767px) {

.reviews_wrapper {
  width: 95%;
  margin: 0 auto;
}

.reviews_title {
  font-size: 2.2em;
}

.reviews_block {
  flex-direction: column;
  font-size: 80%;
}

}
